<h3>
  <%= pagetitle %>
</h3>
<h4>Deal title : <%= link_to(inactive.title,:controller => "Deals",:action => "get_deal_details", :deal_id => inactive._id) -%></h4>
    Deal description : <%= inactive.description%>
</br>
   Deal end time  :    <%= inactive.end_time %>
</br>
    Fine Print  :      <%= inactive.fine_print %>
</br>
</br>
