<html>
  <head>
    <%=  render :partial => "layouts/header" %>
  </head>

  <body>

    <%=  render :partial => "layouts/left_column" %>
    <%=  render :partial => "layouts/right_column" %>
    <%=  render :partial => "layouts/footer" %>

  </body>
</html>